@use "@scss/abstract/index";

.repair-discription {
  position: relative;
  padding: 1rem 0;
  padding-left: 1rem;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    background-color: #aa272f;
  }
  p {
    font-size: 22px;
    line-height: 1.35;
    font-weight: 400;
    span {
      display: block;
    }
  }
}
